.responsive-grid{
      display: grid;
      width: 100%;
      gap: 30px;
            grid-template-columns: repeat(auto-fit,minmax(266px,1fr));
}


.bg-light-food{
      background:linear-gradient(to right, #fbc4dfc4,#0079798e),url('https://th.bing.com/th/id/OIP.fTZuwXzb7pqbOXmix4kOSQHaE7?pid=ImgDet&rs=1') no-repeat fixed;
      background-size: cover;
      background-blend-mode: darken;
}

.bg-dark-food{
      background:linear-gradient(to right, #3e001ec6,#005757fd),url('https://th.bing.com/th/id/OIP.fTZuwXzb7pqbOXmix4kOSQHaE7?pid=ImgDet&rs=1') no-repeat fixed;
      background-size: cover;
      background-blend-mode: multiply;
}

.bg-dark-sign-in{
      background:linear-gradient(to right, #3e001ec6,#005757fd),url('https://i.pinimg.com/originals/ca/38/64/ca38642f9dd57a59f0467d0a71196b35.jpg') no-repeat fixed;
      background-size: cover;
      background-blend-mode: multiply;
}
.bg-light-sign-up{
      background:linear-gradient(to right, #fbc4dfc4,#0079798e),url('https://th.bing.com/th/id/OIP.2-VVN_UYAHu_-_OzPLNC_wAAAA?pid=ImgDet&w=402&h=380&rs=1') no-repeat fixed;
      background-size: cover;
      background-blend-mode: multiply;
}
.bg-dark-sign-up{
      background:linear-gradient(to right, #3e001ec6,#005757fd),url('https://th.bing.com/th/id/OIP.2-VVN_UYAHu_-_OzPLNC_wAAAA?pid=ImgDet&w=402&h=380&rs=1') no-repeat fixed;
      background-size: cover;
      background-blend-mode: multiply;
}