
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:ital,wght@0,400;0,600;0,700;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
      .animation-delay-2000{
            animation-delay: 2s;
      }
      .animation-delay-4000{
            animation-delay: 4s;
      }
}







body {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  background:linear-gradient(to bottom, #fff5faa0,#feffff);
}


.dark-bg{
      background:linear-gradient(to right,#012929fd, rgb(30, 0, 15));
      background-blend-mode: darken;
}

.light-bg{
      background:linear-gradient(to right, rgba(255, 246, 251, 0.781),rgba(255, 255, 255, 0.406));
      filter: blur(-100px);
      background-blend-mode: color-darken;
}